In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from pathlib import Path
import glob
import re
import numpy as np
import pandas as pd
import xlsxwriter

In [2]:
folder = Path.cwd() / '2020'
files = glob.glob('2020/**/**/*.htm')
print(len(files))

778

In [3]:
performance_files = []
non_performance_files= []
reqest_id = []
staff_number = []
name = []
part_a_score = []
part_b_score = []
part_c_score123 = []
part_c_score456 = []
final_score = []
def has_value(tag):
    return tag.has_attr('value') 
def get_performance_files():
    for file in files:
        with open(file) as f:
            html = open(f.name, "r")
            soup = BeautifulSoup(html, "html.parser")
            if soup.find(string=re.compile("Performance Evaluation Request")) is not None:
                
                reqest_id.append(soup.find(id="CURRENT_REQUEST").text)
                staff_number.append(soup.find(class_="FieldValueInput FieldValueInputReadonly",id="REQUESTER")['value'])
                name.append(soup.find('span',id='REQUESTER_NAME').text)
                part_a_score.append(soup.find(id='PART_A_SCORE')['value'])
                
                part_b_score.append("0" if soup.find(id='PART_B_SCORE') is None or not soup.find(id='PART_B_SCORE').has_attr('value') else soup.find(id='PART_B_SCORE')['value'])
                part_c_score123.append("0" if soup.find(id='PART_C_SCORE_123') is None or not soup.find(id='PART_C_SCORE_123').has_attr('value') else soup.find(id='PART_C_SCORE_123')['value'] )
                part_c_score456.append("0" if soup.find(id='PART_C_SCORE_456') is None or not soup.find(id='PART_C_SCORE_456').has_attr('value') else soup.find(id='PART_C_SCORE_456')['value'])
                final_score.append("0" if soup.find(id='FINAL_SCORE')is None or not soup.find(id='FINAL_SCORE').has_attr('value') else soup.find(id='FINAL_SCORE')['value'])
            else:
                non_performance_files.append(f.name)

In [4]:
# url = "2020/09/02/277827114-1.htm"
# page = urlopen(url)
# html = open("2020/09/02/277827114-1.htm", "r")
# soup = BeautifulSoup(html, "html.parser")
get_performance_files()

In [5]:
# soup.find(string=re.compile("Performance Evaluation Request"))

In [6]:
# print(name)
#a = np.array(reqest_id,staff_number,name,part_a_score,part_b_score,)
final_output = {'wfg_id':reqest_id,'stuff_number':staff_number,'name':name,'part_a_score':part_a_score,'part_b_score':part_b_score,'part_c_score123':part_c_score123,'part_c_score456':part_c_score456,'final_score':final_score}

In [7]:
df = pd.DataFrame(final_output)

In [8]:
# df.sort_values(['A', 'B'], ascending=False).drop_duplicates(subset=["A"], keep="first")

In [12]:
df = df.sort_values('final_score', ascending=False).drop_duplicates('wfg_id').sort_index()

In [13]:
display(df)

,wfg_id,stuff_number,name,part_a_score,part_b_score,part_c_score123,part_c_score456,final_score
0,2056167,KGN70193,Eric Munyiri,40.8,0,0,0,40.8
1,2056163,KGN70025,David Serem,40.8,0,0,0,40.8
4,2056125,kgn90743,Korir Dennis,40.8,0,0,0,0
5,2056094,KGN70422,Michell Oduor,40.8,0,0,0,0
10,2056095,KGN70422,Michell Oduor,40.8,0,0,0,0
...,...,...,...,...,...,...,...,...
299,2056997,KGN70425,Edwin Karanja,40.8,0,0,7.77,48.57
304,2056996,KGN90743,Dennis Korir,40.8,0,0,0,40.8
306,2056995,KGN90743,Dennis Korir,40.8,0,0,0,40.8
309,2057407,KGN90743,Dennis Korir,40.8,24.32,0,0,65.12
312,2057411,KGN70401,Faith Katua,40.8,24,0,8.05,72.85

In [11]:
# df.to_excel("output.xlsx", engine='xlsxwriter')